<!DOCTYPE html>
<html lang="en" xmlns:th = "thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>User Title</title>
</head>
<body>
<h1 th:text="${opisKlienta}">brak klienta</h1>
<p th:text="|Imię - ${klient.fName}, Nazwisko -  ${klient.lName}|">brak Imienia</p>
<h1 th:if="${liczba >= 20}">Jest większa od 20</h1>
<!--/<h1 th:if="${liczba <= 20}">Jest mniejsza od 20</h1>-->
<!--<h1 th:if="${liczba=20}">Jest równa  20</h1>-->
<a th:href="@{|user/${klient.lName}|}">Szczególy usss</a>

</body>
</html>